.is_todolist_empty {
  position: absolute;
  margin: -5px auto 0;
  left: 0;
  right: 0;
  width: fit-content;
}

.reorder_group {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
}

.reorder_item {
  display: inline-block;
}

.move_todo {
  display: inline-block;
}

.list {
  margin-top: 10px;
}

@media (max-width: 650px) {
  .list {
    margin-top: 5px;
  }
}