.actions_container {
  display: flex;
  margin: 0 auto;
  width: fit-content;
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
}

@media (max-width: 650px) {
  .actions_container {
    top: 10px;
  }
}