.container {
  margin: 0 auto;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: center;

}

.container input {
  box-sizing: border-box;
  height: 60px;
  width: 45%;
  font-size: 1.3rem;
  color: var(--input-text);
  background-color: var(--input-bgc);
  border: 3px var(--text_color) solid;
  padding: 7px 10px;
  transition: 0.3s;
}

.container input:focus {
  border: 3px var(--text_secondary) solid;
  outline: none
}

.container button {
  margin-left: 8px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: var(--text_secondary);
  border: 3px var(--text_secondary) solid;
  color: var(--text_color);
  font-size: 1.3rem;
  transition: 0.3s;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.done_icon {
  font-size: 3rem;
  color: var(--white);
}

.container button:active {
  transform: scale(0.95);
}

.container input,
.container button {
  border-radius: 12px;
}

.arrow_icon {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--text_color);
  transition: 0.3s;
  user-select: none;
  opacity: 0.8;
}

.arrow_icon:active {
  color: var(--text_secondary);
  opacity: 1;
}

@media (hover: hover) {
  .arrow_icon:hover {
    opacity: 1;
  }

  .container button:hover {
    background-color: var(--text_tertiary);
    border-color: var(--text_tertiary);
  }

}

@media (max-width: 650px) {
  .container {
    width: 80%
  }

  .container input {
    width: 100%;
  }

  .arrow_icon {
    margin: 14px 0 10px;
  }
}