.todo_form_container {
}

.todo_form_container form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo_form_container input {
  width: 45%;
  height: 40px;
  font-size: 1.3rem;
  background-color: #FDFFFE;
}

.todo_form_container input:focus {
  outline: 3px #0069ff solid;
}

.done_icon {
  font-size: 3rem;
}

.todo_form_container button {
  margin-left: 10px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-color: #0069ff;
  color: #FDFFFE;
  font-size: 1.3rem;
  transition: 0.3s;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo_form_container button:hover {
  background-color: #005bdc;
}

.todo_form_container button:active {
  transform: scale(0.95);
}

.todo_form_container input,
.todo_form_container button {
  padding: 10px;
  border: none;
  border-radius: 12px;
}

.order_arrow_icon {
  margin: 10px 0 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #FDFFFE;
  transition: 0.3s;
  user-select: none;
}

.order_arrow_icon:hover {
  color: #005bdc;
}

.order_arrow_icon:active {
  color: #0069ff;
}

@media (max-width: 650px) {
  .todo_form_container input {
    width: 55%;
  }

  .order_arrow_icon {
    margin: 14px 0 12px;
  }
}