.todo {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  min-height: 40px;
  margin: 0 0 15px 0;
  font-size: 1.4rem;
  border-radius: 12px;
  border: 3px solid var(--text_color);
  color: var(--text_color);
  transition: 0.3s;
  background-color: var(--todo_bg);
}

.completed {
  opacity: 0.5;
}

.todo_left {
  text-align: left;
  display: flex;
  align-items: center;

}

.todo_text {
  width: 440px;
  text-align: left;
  display: flex;
  align-items: center;
  word-break: break-all
}

.todo_right {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 5px;
}

.todo_icon {
  font-size: 1.8rem;
  height: 40px;
  color: var(--text_color);
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 10px;
}

.todo_done_icon {
}

.todo_delete_icon,
.todo_done_icon {
  cursor: pointer;
  color: var(--text_color);
  font-size: 1.8rem;
  transition: all 0.3s;
}

.important_todo {
  border: 3px solid var(--important-todo);
  color: var(--important-todo);
}

.important_todo .todo_delete_icon,
.important_todo .todo_done_icon {
  color: var(--important-todo);
}

.important {
  color: var(--important-todo);
}

@media (max-width: 650px) {
  .todo {
    width: 77%;
    margin: 0 auto 15px;
  }

  .todo_text {
    overflow-wrap: break-word;
  }
}

@media (hover: hover) {
  .todo_delete_icon:hover,
  .todo_done_icon:hover {
    transform: scale(1.2);
  }

  .todo_delete_icon:hover {
    color: var(--delete-icon);
  }

  .todo_done_icon:hover {
    color: var(--done-icon);
  }

  .completed_todo:hover {
    opacity: 0.65
  }

  .todo_icon:hover {
    transform: scale(1.15);
  }
}

@media (hover: none) {
  .todo_delete_icon:active,
  .todo_done_icon:active {
    transform: scale(1.2);
  }

  .todo_delete_icon:active {
    color: var(--delete-icon);
  }

  .todo_done_icon:active {
    color: var(--done-icon);
  }

  .completed_todo:active {
    opacity: 0.65
  }

  .todo_icon:active {
    transform: scale(1.15);
  }
}

@media (max-width: 650px) {
  .todo {
    width: 80%;
    box-sizing: border-box;
  }
}