.not_found {
  margin: 0 auto;
  text-align: center;
  max-width: 800px;
}

.not_found_title {
  font-weight: 500;
  font-size: 6rem;
}

.go_home {
  font-size: 3rem;
  color: var(--text_color);
  opacity: 0.85;
  text-decoration: none;
  transition: 0.3s;
}

.go_home:hover {
  color: var(--text_secondary);
  opacity: 1;
  transform: scale(1.05);
}