.sidebar {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.sidebar_icon {
  font-size: 36px;
}

@media (max-width: 650px) {
  .sidebar {
    top: 90px;
  }
}