.sidebar {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 8px;
  left: 8px;
}

.sidebar_icon {
  font-size: 36px;
}