@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;

}

body {
  /*background-color: #091133;*/
  color: #FDFFFE;
  background: linear-gradient(-180deg, #091133, #091133, #0069ff);
  animation: gradient 10s ease-in-out infinite;
  height: 100vh;
  background-size: 100% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 0% 55%;
  }
  100% {
    background-position: 0% 32%;
  }
}
