@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --text_color: #FDFFFE;
  --text_secondary: #0069ff;
  --bg_gradient: linear-gradient(180deg, rgba(9, 17, 51, 1) 0%, #0069ff 100%);
  --white: #FDFFFE;
}

[data-theme="dark"] {
  --text_color: #FDFFFE;
  --text_secondary: #0069ff;
  --bg_gradient: linear-gradient(180deg, rgba(9, 17, 51, 1) 0%, #0069ff 100%);
}

[data-theme="light"] {
  --text_color: #091133;
  --text_secondary: #0069ff;
  --bg_gradient: linear-gradient(180deg, #FDFFFE -55%, #FDFFFE 50%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;

}

body {
  color: var(--text_color);
  background: var(--bg_gradient);
  height: 80vh;
  background-size: 100% 400%;
}

@media (max-width: 650px) {
  body {
    background-size: 100% 1000%;
  }
}