.settings {
  text-align: center;
}

.settings_items {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.title {
  font-weight: 500;
}

.setting {
  cursor: pointer;
  background-color: transparent;
  color: var(--text_color);
  font-size: 3rem;
  transition: 0.3s;
  user-select: none;
  padding: 10px;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  opacity: 0.7;
}

.setting:active {
  color: var(--text_secondary);
  transform: scale(1.05);
}

@media (hover: hover) {
  .setting:hover {
    opacity: 1;
    transform: scale(1.15);
  }
}
