.todo_form_container {
}

.todo_form_container form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo_form_container input {
  width: 45%;
  height: 40px;
  font-size: 1.3rem;
  background-color: #FDFFFE;
}

.todo_form_container button {
  margin-left: 10px;
  height: 60px;
  cursor: pointer;
  background-color: #005bdc;
  color: #FDFFFE;
  font-size: 1.3rem;
  transition: 0.3s;
  user-select: none;
}

.todo_form_container button:hover {
  background-color: #0069ff;
}

.todo_form_container button:active {
  transform: scale(0.95);
}

.todo_form_container input,
.todo_form_container button {
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
}

.order_arrow_icon {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #FDFFFE;
  transition: 0.3s;
  user-select: none;
  margin-bottom: 20px;
}

.order_arrow_icon:hover {
  color: #005bdc;
}

.order_arrow_icon:active {
  color: #0069ff;
}