.button {
  cursor: pointer;
  background-color: transparent;
  color: var(--text_color);
  font-size: 1.6rem;
  transition: 0.3s;
  user-select: none;
  padding: 10px;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  opacity: 0.65;
}

.button:active {
  color: var(--text_secondary);
  transform: scale(1.05);
  opacity: 1;

}

.button:disabled {
  opacity: 0.3;
}

@media (hover: hover) {
  .button:hover {
    opacity: 1;
    transform: scale(1.15);
  }
}

